<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.raylyan.imgurtestapp.presentation">

    <application>

        <activity android:name=".scene.gallery.GalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scene.details.DetailsActivity" />

    </application>

</manifest>